*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat,sans-serif;
    background-color: #f5f7fb;
}

a {
    text-decoration: none;
    color: black
}
.div__god{
    background-color: #fcf6f6;
    margin: 0rem;
	padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
}
.header__top{
    background-color: rgb(24, 146, 202);
    display: flex;
    justify-content: space-between;
}
 .header__p {
    display: flex;
    align-items: center;
    font-family: monospace;
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
}
.header__icons{
    box-sizing: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo__img{ 
    width: 10rem;
    height: 10rem; 
}
.header__ul{
    display: flex;
    background-color: rgb(76, 172, 216);
    margin-bottom: 2rem;
}
.button{
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    list-style: none;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem ;
}
.section{
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 72vh;
    padding: 1rem 2rem ;
}
.section--imagen1{
    background-image: url(../img/index_internet2.jpg);
    box-sizing: border-box;
    grid-template-columns: 3fr  1fr 3fr;
    grid-template-areas: 
    "h3 button p1"
}
.section--imagen2{
    background-image: url(../img/index_servicios.jpg);
    box-sizing: border-box;
    grid-template-columns: 3fr  1fr 3fr;
    grid-template-areas: 
    "p1 button h3"
}
.section__button{
    display: flex;
    margin: 2rem ;
    padding: 1rem;
    border: 0.1rem solid black;
    justify-content: center;
    background-color: rgb(76 172 216 / 76%);
    grid-area: button;
    align-self: end;
    transition-duration: 0.4s;
}
.section__button:hover {
    background-color: #2cd7ee; /* Green */
    color: white;
}
.section__p{
    grid-area: p1;
    background-color: #ffffff85;
    padding: 1rem 2rem;
    align-self: center;
    text-align: justify;
    line-height: 1.4rem;
}
.imagen1__h3{
    grid-area: h3;
    font-size: 3.5rem;
    align-self: center;
    
}
.section__info{
    display: flex;
    margin: 1rem 1rem 0rem 1rem;
    justify-content: space-between;
    padding: 2rem; 
}
.section__info--p{
    padding: 2rem;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.footer__p{
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}
.plan {
    display: grid;
}
.plan__h2{
    text-align: center;
    margin-bottom: 1rem;
}
.plan__div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.plan__div--box{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background-color: #fcf6f6;
    opacity: 10;
    padding-left: 4rem;
}
.logo_wifi{
    display: flex;
    align-self: center;
    height: 10rem;
    margin-bottom: 3rem ;
}
.wifi_rosa{
    filter: hue-rotate(120deg)
}
.wifi_verde{
    filter: hue-rotate(290deg)
}