*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat,sans-serif;
}

a {
    text-decoration: none;
    color: black
}
P{
    margin: 0;
}
.div__god{
    background-color: #f5f7fb;
    margin: 0rem;
	padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
}
.header__top{
    background-color: rgb(24, 146, 202);
    display: flex;
    justify-content: space-between;
}
 .header__p {
    display: flex;
    align-items: center;
    font-family: monospace;
    color: white;
    font-size: 1rem;
    padding-left: 1rem;
}
.header__icons{
    box-sizing: 1rem;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo__img{ 
    width: 10rem;
    height: 10rem; 
}
.header__ul{
    display: flex;
    background-color: rgb(76, 172, 216);
    margin-bottom: 2rem;
}
.button__select{
    color:#ffffff
}
.button{
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
    list-style: none;
    padding: 0.6rem 2.5rem 0.6rem 2.5rem ;
}
.section{
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 72vh;
    padding: 1rem 2rem ;
}
.section--imagen1{
    background-image: url(../img/index_internet2.jpg);
    box-sizing: border-box;
    grid-template-columns: 3fr  1fr 3fr;
    grid-template-areas: 
    "h3 button p1"
}
.section--imagen2{
    background-image: url(../img/index_servicios.jpg);
    box-sizing: border-box;
    grid-template-columns: 3fr  1fr 3fr;
    grid-template-areas: 
    "p1 button h3"
}
.section__button{
    display: flex;
    margin: 2rem ;
    padding: 1rem;
    border: 0.1rem solid black;
    justify-content: center;
    background-color: rgb(76 172 216 / 76%);
    grid-area: button;
    align-self: end;
    transition-duration: 0.4s;
}
.section__button:hover {
    background-color: #2cd7ee; /* Green */
    color: white;
}
.section__p{
    grid-area: p1;
    background-color: #ffffff85;
    padding: 1rem 2rem;
    align-self: center;
    text-align: justify;
    line-height: 1.4rem;
}
.imagen__h3{
    grid-area: h3;
    font-size: 3.5rem;
    align-self: center;
    background-color: #ffffff3b;
    text-align: center;
    
}
.section__info{
    display: flex;
    margin: 1rem 1rem 0rem 1rem;
    justify-content: space-between;
    padding: 2rem; 
}
.section__info--p{
    padding: 2rem;
    justify-content: center;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: aqua;
}
.footer__p{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.servicios{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    flex-wrap: wrap;
}
.servicios__h2{
    letter-spacing: 0.1rem;
    
}
.servicios__p{
    text-align: center;
    margin:2rem;
    padding: 1rem;
    align-self: center;
    width: 40rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-image:url(../img/background.jpeg) ;
}
.carrusel__contenedor{
    width: 1080px;
}
.carousel__imagen1{
    width: 50rem;
}
.plan {
    display: grid;
}
.plan__h1{
    text-align: center;
    margin-bottom: 1rem;
}
.plan__div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    padding: 2rem;
}
.plan__div--box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    background-color: #fcf6f6;
    border: 2px solid #4cacd882;
    border-radius: 0.5rem;
    padding: 10px;
}
.plan__div--ul{
    list-style-type: none;
    padding-left: 0rem;
}
.plan__div--li{
    text-align: center;
    padding: 11px 10px;
    display: block;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.logo_wifi{
    display: flex;
    align-self: center;
    height: 10rem;
    margin-bottom: 3rem ;
}
.wifi_rosa{
    filter: hue-rotate(120deg)
}
.wifi_verde{
    filter: hue-rotate(290deg)
}
.mapa{
    width:1300px; 
    height:450px;
    border: 0;
}

/* MEDIA QUERIES*/
 @media screen and ( max-width: 768px) {
    .section{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-position: 45%
    }
    .section__button{
        align-self: center;
    }
    .mapa{
        width:500px; 
        height:250px;
        }
 }
 @media screen and ( max-width: 425px) {

    /*Header*/

    .header__p {
        font-size: 0.8rem;
        padding-left: 0rem;

    }
    .header__ul{
        flex-direction: column;
        margin-bottom: 0;
    }
    .button__li{
        margin: 1rem;
    }

    /*main*/

    .section{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-position: 45%
    }
    .section__button{
        align-self: center;
    }
    .imagen1__h3 {
        font-size: 1.5rem;
    }
    .section__info{
    flex-direction: column;
    align-items: center;
    }
    .mapa{
    width:300px; 
    height:200px;
    }

     /*Servicios internet*/
     
    .plan__div{
        display: flex;
        flex-direction: column;
    }
}
