/* MEDIA QUERIES*/
@media screen and ( max-width: 768px) {
    .section{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-position: 45%
    }
    .section__button{
        align-self: center;
    }
    .section__info--mapa{
        width:500px; 
        height:250px;
        }

     /*Contacto*/
     
    .contacto{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-content: center;
        flex-wrap: wrap;
    }
    .contacto__mapa{
        width:500px; 
        height:250px;
        padding:1rem 0rem 0rem 0rem;
        margin:1rem 0rem 0rem 0rem;
    }
    

 }
 @media screen and ( max-width: 425px) {

    /*Header*/

    .header__p {
        font-size: 0.8rem;
        padding-left: 0rem;

    }
    .header__ul{
        flex-direction: column;
        margin-bottom: 0;
    }
    .button__li{
        margin: 1rem;
    }

    /*main*/

    .section{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-position: 45%
    }
    .section__button{
        align-self: center;
        width: 9rem;
        margin: 0.7rem;
        padding: 0.7rem;
    }
    .imagen1__h3 {
        font-size: 1.5rem;
    }
    .section__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .section__info--mapa{
    width:300px; 
    height:200px;
    }

     /*Servicios internet*/
     
    .plan__div{
        display: flex;
        flex-direction: column;
    }
     /*Servicios gaming*/
     .servicios__p{
    width: 20rem;
    }

    /*Contacto*/
    .contacto{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        align-content: center;
        flex-wrap: wrap;
    }
    .contacto__mapa{
        width:300px; 
        height:200px;
        padding:1rem 0rem 0rem 0rem;
        margin:1rem 0rem 0rem 0rem;
    }
    

}
