/*-------------reset-------------*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
body{
    font-family:$fuentes;
}

a {
    text-decoration: none;
    color: black
}
P{
    margin: 0;
}
.div__god{
    background-color: #f5f7fb;
    margin: 0rem;
	padding: 0;
}