/*-------------SECTION INDEX-------------*/
.section{
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 72vh;
    padding: 1rem 2rem ;

        &__imagen1{
            background-image: url(../img/index_internet2.jpg);
            box-sizing: border-box;
            grid-template-columns: 3fr  1fr 3fr;
            grid-template-areas: 
            "h3 button p1"
        }
        &__imagen2{
            background-image: url(../img/index_servicios.jpg);
            box-sizing: border-box;
            grid-template-columns: 3fr  1fr 3fr;
            grid-template-areas: 
            "p1 button h3"
        }
        &__button{
            display: flex;
            margin: 2rem ;
            padding: 1rem;
            border: 0.1rem solid black;
            justify-content: center;
            background-color: rgba(76, 172, 216, 0.76);
            grid-area: button;
            align-self: end;
            transition-duration: 0.4s;
                &:hover {
                     background-color: #2cd7ee; /* Green */
                     color: white;
                }
        }
        &__p{
            grid-area: p1;
            background-color: #ffffff85;
            padding: 1rem 2rem;
            align-self: center;
            text-align: justify;
            line-height: 1.4rem;
        }

        &__info{
            display: flex;
            margin: 1rem 1rem 0rem 1rem;
            justify-content: space-between;
            padding: 2rem; 
        
                &--p{
                    padding: 2rem;
                    justify-content: center;
                }
        }
}
.imagen__h3{
    grid-area: h3;
    font-size: 3.5rem;
    align-self: center;
    background-color: #ffffff3b;
    text-align: center;
}